.card-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    .card{
        width: 170px;
        height: 275px;
        padding: 20px;
        background-color: var(--bg-card,#181818);
        border-radius: 10px;
        .card-head {
            position: relative;
            .card-title {
                font-weight: 700;
                font-size: 15px;
                margin-top: 5px;
            }
            
            button.play-button {
                background-color: transparent;
                position: absolute;
                bottom: 20%;
                right: 5%;
                border: none;
                padding: 5px;
                border-radius: 100%;
                height: 50px;
                width: 50px;
                opacity: 1;
                color: var(--color-text-placeholder);
                transition: .6s all ease-in-out;
            }
        }
        img{
            width: 100%;
            height: 170px;
            border-radius: 10px;
        }
        .card-content{
            font-size: 12px;
            margin-top: 8px;
            color: var(--color-text-placeholder);
            text-align: left;
        }
    }
    
    .card:hover{
        background-color: var(--bg-card-hover);
        transition: .4s all ease-in-out;
        transform: scale(1.05);
        button.play-button {
            bottom: 27% !important;
            background: white !important;
            box-shadow: 2px 2px 6px #1a1a1a85;
            color: var(--bg-card) !important;
            cursor: pointer;
        }
    }
}
